<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9693A3292EBCF53C184A90C70721DE75F39439AA</string>
				<key>dateExpires</key>
				<string>11/9/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZAK935E644.com.neoscorp.Test</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZAK935E644</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>ZAK935E644.com.neoscorp.Test</string>
				</array>
			</dict>
			<key>name</key>
			<string>Test.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>530d8a02-0652-4191-befc-683316d61442</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZAK935E644</string>
				<key>name</key>
				<string>NEOS VIETNAM INTERNATIONAL COMPANY LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
